body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
nav { 
    background-color: ; 
    color: ;
    padding: 20px 50px;
}
.navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    background-color: #3e4d3d;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.search input {
    background-color: transparent;
    border: none;
    
}
.limitedOffer {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #5b0800;
}

.navBottom {
    color: white;
    display: flex;
    justify-content: center;
}
.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}


.sliderWrapper {
    display: flex;
    width: 500vw;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    color: white;
}