body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
nav { 
    background-color: ; 
    color: ;
    padding: 20px 50px;
}
button {
    cursor: pointer;
}
.navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    background-color: #3e4d3d;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.search input {
    background-color: transparent;
    border: none;
    
}
.limitedOffer {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #5b0800;
}

.navBottom {
    color: white;
    display: flex;
    justify-content: center;
}
.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}
.slider {
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all .5s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.product {
height: 100vh;
color: white;
position: relative;
}
.productImg {
    width: 50%;
}
.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.productTitle {
    font-size: 65px;
    font-weight: 900;
}
.productDescription {
    font-style: 24px;
    color: gray;
}
.colors, .sizes {
    display: flex;
    margin-bottom: 20px;
}
.color {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    margin-right: 10px;
    cursor: pointer;
    display: block;
}
.size {
    padding: 5px 20px;
    border: 1px solid white;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
}

.gallery {
    padding: 50px;
    display: flex;
    color: white;
}
.galleryItem {
    flex: 1;
    padding: 50px;
}
.galleryImg {
    width: 100%;
}

footer {
    display: flex;
}
.footerLeft {
    flex: 2;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.fMenuTitle {
    font-size: 16px;
}
.fList {
    padding: 0;
    list-style: none;
}
.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.footerRight {
    flex: 1;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fInput {
    padding: 5px;
}
.fButton {
    padding: 5px;
}
.fIcons {
    display: flex;
}
.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.copyright {
    font-weight: 300;
    font-size: 13px;
}
